<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TLC.Properties.Settings.DB_CPRS2010ConnectionString1"
            connectionString="Data Source=127.0.0.1;Initial Catalog=DB_CPRS2010;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="TLC.Properties.Settings.PatentQueryConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=PatentQuery;Persist Security Info=True;User ID=sa;Password=xiaoyu20"
            providerName="System.Data.SqlClient" />     
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
