body 
{
	color:#AFAFAF;
	font-size:14px;
	font-family:Microsoft YaHei;
	line-height:150%;
	background-color:#282828;
	background-image: url(../Images/Manage/bgBody.jpg);
	margin:0px;
}
a
{
	color:#FFFFFF;
	text-decoration:none;
}
img
{
    border-style:none;
    vertical-align:middle;
}
h1
{
    font-size:24px;
    font-family:Microsoft YaHei;
    line-height:150%;
    text-align:center;
    padding:0px;
    margin:0px;
}
h2
{
    font-size:18px;
    font-family:Microsoft YaHei;
    line-height:150%;
    padding:0px;
    margin:0px;
}
h3
{
    font-size:15px;
    font-weight:bold;
    line-height:150%;
    padding:0px;
    margin:0px;
}
dl
{
	margin:20px 0px 0px 10px;
	padding:0px;
}
dl dt
{
	clear:both;
	float:left;
	width:100px;
	text-align:right;
	line-height:26px;
	padding:0px 10px 0px 0px;
}
dl dd
{
	padding:4px 0px
}
dl dd .command
{
	text-align:center;
}
.textBox
{
	color:#AFAFAF;
	border:solid 1px #4E4E4E;
	background-color:#1A1A1A;
}
.btn
{
	width:80px;
	height:20px;
	color:#FF6600;
	line-height:20px;
	text-align:center;
	background-image: url(../Images/Manage/bgBtn.gif);
	background-color:#1A1A1A;
	border-style:none;
}
.btnCancel
{
	width:80px;
	height:20px;
	color:#888888;
	line-height:20px;
	text-align:center;
	background-image: url(../Images/Manage/bgBtn.gif);
	background-color:#1A1A1A;
	border-style:none;
}
#header
{
	height:42px;
	line-height:42px;
	background-image: url(../Images/Manage/bgHeader.gif);
}
#logo
{
	float:left; 
	margin:10px 20px auto 20px;
}
#menu
{
	float:left;
	width:490px;
	height:24px;
	line-height:24px;
	margin-top:9px;
}
#home
{
	float:left;
	height:24px;
	background-image: url(../Images/Manage/bgMenuLeft.gif);
	background-repeat:no-repeat;
	padding:0px 10px 0px 18px;
}
.menu
{
	float:left;
	height:24px;
	background-image: url(../Images/Manage/bgMenuRight.gif);
	background-position:right;
	background-repeat:no-repeat;
	*margin-top:-20px;
}
.staticMenuStyle
{
}
.staticMenuItemStyle
{
	padding:0px 8px;
}
.staticMenuItemStyle a
{
}
.staticSelectedStyle
{
}
.staticHoverStyle
{
}
.dynamicMenuStyle
{
	margin-left:5px;
	z-index:100;
}
.dynamicMenuItemStyle
{
	background-color:#111111;
	border:solid 1px #111111;
	padding:0px 6px;
}
.dynamicMenuItemStyle a
{
}
.dynamicSelectedStyle
{
	background-color:#333333;
}
.dynamicSelectedStyle a
{
}
.dynamicHoverStyle
{
	background-color:#333333;
}
.dynamicHoverStyle a
{
}
#account
{
	float:right;
	padding-right:10px;
}
#path
{
	clear:both;
	height:26px;
	line-height:26px;
	background-image: url(../Images/Manage/bgPath.gif);
	padding-left:10px;
}
#content
{
	clear:both;
	padding:0px 20px 20px 20px;
}
#command
{
	text-align:center;
	padding:10px;
}
table.grid
{
	background-color:#333333;
	border-style:none;
	margin:10px auto;
}
table.grid tr th
{
	font-weight:bold;
	background-color:#222222;
	text-align:center;
	padding:3px 6px;
}
table.grid tr td
{
	background-color:#282828;
	text-align:center;
	padding:3px 6px;
}
table.radioButtonList
{
}
table.radioButtonList tr td
{
	text-align:center;
	padding:10px;
}
a.current
{
	color:#FF6600;
	font-weight:bold;
}
#back
{
	float:right;
	padding:10px;
}
.clear
{
    clear:both;
}