img
{
	border: 0px;
}

 a
 {
     cursor:pointer;
 }
/**********************************/

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}