<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cpic.Cprs2010.Search.ResultData.Properties.Settings.DataProcessConnectionString"
            connectionString="Data Source=10.75.8.117;Initial Catalog=DataInfo;Persist Security Info=True;User ID=cprs2010;Password=cprs2010222"
            providerName="System.Data.SqlClient" />
        <add name="Cpic.Cprs2010.Search.ResultData.Properties.Settings.DataInfoConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=DataInfo;Persist Security Info=True;User ID=sa;Password=xiaoyu20"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>