<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProYJDLL.Properties.Settings.PatentQueryConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=PatentQuery;User ID=sa;Password=xiaoyu20"
            providerName="System.Data.SqlClient" />
        <add name="ProYJDLL.Properties.Settings.PatentQuery_TGConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=PatentQuery_TG;Persist Security Info=True;User ID=sa;Password=xiaoyu20"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>