<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Patentquery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0"/>
  </configSections>

  <!-- Log4net配置 -->
  <log4net>
    <appender name="TranslationFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="F:\\VPath\\Log\\Translation"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <param name="ImmediateFlush" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p '%m' (%F:[%M]:%L) - %t - (%c)%n"/>
      </layout>
    </appender>
    <appender name="Cprs2010Appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="F:\\VPath\\Log\\Cprs2010_"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <param name="ImmediateFlush" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p '%m' (%F:[%M]:%L) - %t - (%c)%n"/>
      </layout>
    </appender>
    <appender name="TranslationWebAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="F:\\VPath\\Log\\TranslationWeb"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <param name="ImmediateFlush" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p '%m' (%F:[%M]:%L) - %t - (%c)%n"/>
      </layout>
    </appender>
    <appender name="SocketSearchAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="F:\\VPath\\Log\\SocketSearch"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <param name="ImmediateFlush" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p '%m' (%F:[%M]:%L) - %t - (%c)%n"/>
      </layout>
    </appender>
    <appender name="log" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="F:\\VPath\\Log\\Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <param name="ImmediateFlush" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p '%m' (%F:[%M]:%L) - %t - (%c)%n"/>
      </layout>
    </appender>
    <logger name="Cpic.Cprs2010">
      <level value="debug"/>
      <appender-ref ref="Cprs2010Appender"/>
    </logger>
    <logger name="Cpic.Cprs2010.Cfg.Port">
      <level value="debug"/>
      <appender-ref ref="TranslationFileAppender"/>
    </logger>
    <logger name="Cprs2010Web.Translation">
      <level value="debug"/>
      <appender-ref ref="TranslationWebAppender"/>
    </logger>
    <logger name="Cprs2010Web">
      <level value="debug"/>
      <appender-ref ref="Cprs2010Appender"/>
    </logger>
    <logger name="Cpic.Cprs2010.Search.SocketSearch">
      <level value="debug"/>
      <appender-ref ref="SocketSearchAppender"/>
    </logger>
    <logger name="Cpic.Cprs2010.Log">
      <level value="debug"/>
      <appender-ref ref="log"/>
    </logger>
  </log4net>

  <appSettings>
    <!--有效词库-->
    <add key ="WordFilePath" value="D:\word.wd"/>
    <!--统计地址-->
    <add key="TJServerURL" value="//192.168.131.10;//lcalhost;//127.0.0.1;->192.168.131.85:8081|//124.193.122.133>p1.hizhuanli.cn"/>

    <add key="CnIP" value="192.168.131.83"/>
    <add key="CnPort" value="700"/>
    <add key="DocdbIP" value="192.168.131.83"/>
    <add key="DocdbPort" value="900"/>
    <add key="DwpiIP" value=""/>
    <add key="DwpiPort" value="900"/>
    <add key="SocketTimeOut" value="40000"/>
    <add key="WebInfordPath" value="~/WebInfor"/>
    <add key="Cn_DesignImg" value="~/CNDegImg"/>
    <!-- 数据资源目录-->
    <add key="Cn_AbsXmlBasePath" value="\\192.168.131.12\cprs_data\Cn_Abs_xml\"/>
    <add key="Cn_FuTuGifBasePath" value="\\192.168.131.12\cprs_data\Cn_Abs_xml\"/>
    <add key="Cn_FullXmlBasePath" value="\\10.75.8.122\Format_Data\"/>
    <add key="Cn_ImgDocBasePath" value="\\10.75.8.138\样例\单机样例文件\Convert2Dir_CN\"/>
    <add key="Cn_FuTuBasePath" value="\\10.1.1.8\userdir\futu\"/>
    <add key="Cn_AbsXmlTransBasePath" value="\\10.75.8.122\CPRS2010_Data_UpList\英文样例（XML）\"/>
    <add key="dwpiAbsXmlBasePath" value="\\10.75.8.117\dwpi_datasource_dir\"/>
    <add key="dwpiFuTuBasePath" value="\\10.75.8.117\dwpi_image_dir\"/>
    <add key="DocdbXmlBasePath" value="\\192.168.131.12\cprs_data\DOCDB_DATASOURCE_DIR\"/>
    <add key="DocdbImgBasePath" value="\\10.75.8.138\样例\单机样例文件\Convert2Dir\"/>
    <add key="EnTxtXmlBasePath" value="\\10.75.8.138\样例\单机样例文件\Convert2Dir\"/>
    <!-- PDF虚目录 -->
    <add key="ImgPdf" value="\\10.75.8.138\样例\单机样例文件"/>
    <!-- TransLib -->
    <add key="TransTimeOut" value="60"/>
    <add key="Attempts" value="0"/>
    <!-- 检索基础目录-->
    <add key="CPRS2010UserPath" value="\\192.168.131.10\VPath\User_Search_Base\ZJPT\"/>
    <!-- 检索历史目录-->
    <add key="CPRS2010SearchHistoryPath" value="\\\10.75.1.91\VPath\History_Temp\"/>
    <!-- 自定义库目录-->
    <add key="UserCustomLibraryPath" value="\UserCustomLibrary\MyLibrary\"/>
    <!-- 用户兴趣-->
    <add key="CurrentUpdateDate" value="2011-08-25"/>
    <add key="UserInterest" value="\\10.75.1.77\UserInterest\"/>
    <add key="CPRS2010UserInterest" value="\\10.75.1.77\UserInterest\"/>
    <add key="DefaultInterestSFMaxNum" value="5"/>
    <add key="TemplateDir" value="\\10.75.1.77\UserInterest\Template\"/>
    <add key="UserMaxInterest" value="10"/>
    <!-- 统计配置文件-->
    <!-- 统计配置文件-->
    <add key="CNStatsConfig" value="\\10.75.1.91\cprs_demo_data\Stats\CN\StatsColumns.xml"/>
    <add key="DWPIStatsConfig" value="\\10.75.1.77\Stats\dwpi\StatsColumns.xml"/>
    <add key="DOCDBStatsConfig" value=""/>
    <!--引擎-->
    <add key="CNConfigFile" value="\\10.75.1.91\cprs_demo_data\IDX\CN\CN_Index.cfg.xml"/>
    <add key="CNIndPath" value="\\10.75.1.91\cprs_demo_data\IDX\CN\"/>
    <add key="DocDBConfigFile" value="\\10.75.1.91\cprs_demo_data\IDX\EN\DoCDB_Index.cfg.xml"/>
    <add key="DocDBIndPath" value="\\10.75.1.91\cprs_demo_data\IDX\EN\"/>
    <add key="DwpiConfigFile" value=""/>
    <add key="DwpiIndPath" value=""/>
    <!-- 自定义结果集文件根目录-->
    <add key="DY_CnpFileBasePath" value="\\10.75.1.77\UserInterest"/>
    <add key="DataAccessLayerType" value="TLC.DataAccessLayer.SQLDataAccess"/>
    <add key="DefaultRoleForNewUser" value="1"/>
    <add key="AllowUserCreationForAnonymousUsers" value="1"/>
    <add key="UserAccountSource" value="WindowsSAM"/>

    <!-- 发送邮件信息配置-->
    <add key="UserName" value="xmips@xminfo.net.cn"/>
    <add key="PWD" value="xmips2022012"/>
    <add key="UserRealName" value="xmips"/>
    <add key="email" value="xmips@xminfo.net.cn"/>
    <add key="SmtpClient" value="mail.xminfo.net.cn"/>
    <add key="MailCftTxt" value=""/>
    <!-- 生成cnp文件数-->
    <add key="CnpCountCN" value="20"/>
    <add key="CnpCC" value="CH|CN|DE|EP|FR|GB|JP|KR|OT|RU|US|WO"/>
    <add key="CnpCCCount" value="1|8|7|5|3|3|21|3|21|2|12|3"/>
  </appSettings>
  <!--连接字符串-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.131.11;Initial Catalog=PatentQuery_TG;Persist Security Info=True;User ID=sa;Password=sa@123456;Connect Timeout=600; Enlist=true; Pooling=true; Max Pool Size=512; Min Pool Size=0; Connection Lifetime=600" />
    <add name="oledbConnString" connectionString="Provider=SQLNCLI10.1;Password=sa@123456;Persist Security Info=True;User ID=sa;Initial Catalog=PatentQuery_TG;Data Source=192.168.131.11"
      providerName="System.Data.oledb" />
    <add name="SqlServerStr" connectionString="Data Source=192.168.131.11;Password=sa@123456;User ID=sa;Initial Catalog=PatentQuery_TG"
      providerName="System.Data.SqlClient" />
    <add name="SqlServerDataProcess" connectionString="Data Source=192.168.131.11;Password=sa@123456;User ID=sa;Initial Catalog=PatentQuery_TG"
      providerName="System.Data.SqlClient" />
    <add name="Cpic.Cprs2010.Search.ResultData.Properties.Settings.DataProcessConnectionString"
      connectionString="Data Source=192.168.131.11;Initial Catalog=DataInfo;Persist Security Info=True;User ID=sa;Password=sa@123456"
      providerName="System.Data.SqlClient" />
    <add name="DB_CPRS2010ConnectionString" connectionString="Data Source=192.168.131.11;Initial Catalog=PatentQuery_TG;Persist Security Info=True;User ID=sa;Password=sa@123456"
      providerName="System.Data.SqlClient" />
    <add name="Cpic.Cprs2010.Cfg.Properties.Settings.DataProcessConnectionString"
      connectionString="Data Source=192.168.131.11;Initial Catalog=PatentQuery_TG;Persist Security Info=True;User ID=sa;Password=sa@123456"
      providerName="System.Data.SqlClient" />
    <add name="DB_CPRS2010ConnectionString1" connectionString="Data Source=192.168.131.11;Initial Catalog=PatentQuery_TG;User ID=sa;Password=sa@123456"
      providerName="System.Data.SqlClient" />
    <add name="TLC.Properties.Settings.PatentQueryConnectionString"
           connectionString="Data Source=192.168.131.11;Initial Catalog=PatentQuery_TG;Persist Security Info=True;User ID=sa;Password=sa@123456"
           providerName="System.Data.SqlClient" />
    
    <add name="ProXZQDLL.Properties.Settings.PatentQueryConnectionString"
            connectionString="Data Source=192.168.131.11;Initial Catalog=PatentQuery_TG;Persist Security Info=True;User ID=sa;Password=sa@123456"
            providerName="System.Data.SqlClient" />
    <add name="Cpic.Cprs2010.Cfg.Properties.Settings.PatentQuery_TGConnectionString"
   connectionString="Data Source=192.168.131.11;Initial Catalog=PatentQuery_TG;Persist Security Info=True;User ID=sa;Password=sa@123456"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices >
        <jsonSerialization maxJsonLength="1024000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <!--Session-->
    <sessionState  mode="InProc" cookieless="UseCookies" timeout="60">
      <providers>
        <clear/>
      </providers>
    </sessionState>
    <!--添加成员管理-->
    <authorization>
      <allow users="?"/>
      <allow roles="Administrators"/>
    </authorization>
    <!--成员资格管理-->
    <authentication mode="Forms">
      <forms defaultUrl="/Default.aspx" loginUrl="/Default.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="1440"/>
    </authentication>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="120">
      <providers>
        <add connectionStringName="ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" applicationName="/" name="SqlProvider" type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>
    <!--添加用户配置文件管理-->
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ConnectionString" applicationName="/" description="SqlProfileProvider"/>
      </providers>
    </profile>
    <!--添加角色管理-->
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieRequireSSL="true" defaultProvider="SqlProvider">
      <providers>
        <add connectionStringName="ConnectionString" applicationName="/" name="SqlProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <!--AJAX-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add namespace="FreeTextBoxControls" assembly="FreeTextBox" tagPrefix="FTB"/>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <!-- 
        设置 compilation debug="true" 将调试符号插入
        已编译的页面中。但由于这会 
        影响性能，因此只在开发过程中将此值 
        设置为 true。
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
        如果在执行请求的过程中出现未处理的错误，
        则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
        开发人员通过该节可以配置
        要显示的 html 错误页
        以代替错误堆栈跟踪。
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="frmerror.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <!--站点地图-->
    <siteMap defaultProvider="AspNetXmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
        <add name="My" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="My.sitemap" securityTrimmingEnabled="true"/>
        <add name="My2" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="My2.sitemap" securityTrimmingEnabled="true"/>
        <add name="Manage" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Manage.sitemap" securityTrimmingEnabled="true"/>
        <add name="Manage2" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Manage2.sitemap" securityTrimmingEnabled="true"/>
        <add name="Admin" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Admin.sitemap" securityTrimmingEnabled="true"/>
        <add name="Admin2" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Admin2.sitemap" securityTrimmingEnabled="true"/>
        <add name="ZtTrs" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="ZtTrs.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <httpHandlers>
      <!--AJAX-->
    </httpHandlers>
    <!--<httpRuntime maxRequestLength="10240000" executionTimeout="1800"  requestValidationMode="2.0" />-->
    <!--文件上传限制 100M大小-->
    <httpRuntime maxRequestLength="1024000"  executionTimeout="6000" requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="10" enableVersionHeader="true"/>
  </system.web>
  <!--SMTP-->
  <system.net>
    <mailSettings>
      <smtp from="postmaster@nquestion.com">
        <network host="mail.nquestion.com" password="dsf" userName="postmaster@nquestion.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CprsGIISWebSvcSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WebSerIndexingSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ServiceSoapE2C" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="ServiceSoapC2E" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="SearchWebServiceSoap" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://202.106.92.181/cprs2010/svc/CprsGIISWebSvc.asmx" binding="basicHttpBinding" bindingConfiguration="CprsGIISWebSvcSoap1" contract="WSYQ.CprsGIISWebSvcSoap" name="CprsGIISWebSvcSoap1"/>
      <endpoint address="http://202.106.92.181/BNS/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="BNS.ServiceSoap" name="ServiceSoap"/>
      <endpoint address="http://211.160.117.105:9000/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap1" contract="WSFLZT.ServiceSoap" name="ServiceSoap1"/>
      <endpoint address="http://192.168.131.10:88/webserindexing.asmx" binding="basicHttpBinding" bindingConfiguration="WebSerIndexingSoap" contract="BiaoYin.WebSerIndexingSoap" name="WebSerIndexingSoap"/>
      <endpoint address="http://202.106.92.184/En2CnL/TransService.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoapE2C" contract="TranslationE2CService.ServiceSoap" name="ServiceSoapE2C"/>
      <endpoint address="http://202.106.92.187:9090/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoapC2E" contract="TranslationC2EService.ServiceSoap" name="ServiceSoapC2E"/>
      <endpoint address="http://localhost:25533/SearchWebService.asmx"
                 binding="basicHttpBinding" bindingConfiguration="SearchWebServiceSoap"
                 contract="ServiceReference.SearchWebServiceSoap" name="SearchWebServiceSoap" />
      <endpoint address="http://211.160.117.105/GetYZInf/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="YZInf.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Patentquery.Properties.Settings>
      <setting name="Patentquery_WSFLZT_Service" serializeAs="String">
        <value>http://202.106.92.131:9000/service.asmx</value>
      </setting>
    </Patentquery.Properties.Settings>
  </applicationSettings>
</configuration>